header{
    nav{
        div{
            background-color: rgb(135, 141, 139);
            ul{
                li{ 
                    text-decoration: underline;
                    
                    a{
                        text-decoration-color: azure;
                    }
                }
            }
        }
    }
}
