section{
    background-color: rgb(174, 198, 199);    
    div{
        margin-top: 30px;
        margin-bottom: 30px;
        div{
            
            div{
                border-radius: 15px;
                border-width: 2px;
               
                img{
                    display: flex

                }
                div{
                    margin: 0px;
                    h5{
                        font-family: lucida handwriting;

                    }
                    p{
                        font-size: medium;

                    }
                }

            }
        }
    }
}