header nav div {
  background-color: #878d8b;
}

header nav div ul li {
  text-decoration: underline;
}

header nav div ul li a {
  text-decoration-color: azure;
}

section {
  background-color: #aec6c7;
}

section div {
  margin-top: 30px;
  margin-bottom: 30px;
}

section div div div {
  border-radius: 15px;
  border-width: 2px;
}

section div div div img {
  display: flex;
}

section div div div div {
  margin: 0px;
}

section div div div div h5 {
  font-family: lucida handwriting;
}

section div div div div p {
  font-size: medium;
}

.instagram {
  background-color: #f0c77c;
}

.facebook {
  background-color: #9d9de4;
}

.whatsapp {
  background-color: #c1ecc1;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f2e2dc;
  border-radius: 15px;
  height: 4em;
  align-items: center;
}

footer ul li {
  list-style: none;
}

footer ul li button {
  border-radius: 5%;
  font-family: bellerose light;
  font-size: 1em;
  padding: 8px 10px 8px 10px;
  text-align: center;
  position: center;
  text-decoration: none;
}

.mas {
  border-radius: 5%;
  background-color: aquamarine;
}

.boton, #botonBuscar {
  border-radius: 5%;
  font-family: bellerose light;
  font-size: 1em;
  padding: 8px 10px 8px 10px;
  text-align: center;
  position: center;
  text-decoration: none;
}
